@font-face {
    font-family: "Share Tech Mono";
    src: url("../../fonts/ShareTechMono-Regular.ttf");

    font-family: "Broken Planewing";
    src: url("../../fonts/broken_planew.ttf");
}

body {
    padding: 0px;
    margin: 0px auto;
    background-color: rgba(6, 6, 6, 0.73);
}

.topbar {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    border: solid 3px rgba(206, 206, 206, .7);
    border-bottom: hidden;
    background-color: #000000;
}

.centerbox {
    width: 80%;
    margin: 0 auto;


}

.flex-nav {
    width: 100%;
    background-color: #000000;
    border: solid 3px rgba(206, 206, 206, .7);
    border-left: hidden;
    border-right: hidden;
    padding: 5px;
}

.nav-links {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    font-family: "Changa Regular", monospace;
    )
}

.nav-link {
    color: white;
    text-decoration: none;
}

.main-body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    color: white;
    margin-top: 20px;
    background-color: #000000;
    border: solid 3px rgba(206, 206, 206, .7);
    font-family: "Share Tech Mono", monospace;
}

.main-body p {
    padding: 5px;
    width: 95%;
}

#centerLogo {
    display: flex;
    height: 250px;
    justify-content: space-between;
}

@media only screen and (max-width: 950px){
    .nav-links {
        flex-direction: column;
        align-items: center;
    }

}